.flex-contenedor {
    display: flex;
    flex-flow: row nowrap;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla-de-contenido{
    border: 2px solid grey;
    width: 25%;
    padding: 10px;
}

.imagen-lateral {
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagen-lateral p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

a:link {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color:royalblue;
}

a:hover {
    text-decoration: underline;
}

.imagen-lateral {
    float: right;
    width: 50%;
    overflow: visible;
    font-style: italic;
}

.imagen-lateral img {
    width: 100%;
}

.idioma-seleccionado::before {
    content: "> ";
}

.seccion-lateral>ul>li {
    list-style: none;
}

.menu-principal {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 5px;
}

.menu-idiomas {
    padding-left: 5px;
}
.seccion-lateral {
    margin-right: 17px;
}
.seccion-lateral h1 {
    font-size: 19px;
    font-weight: normal;

}