.flex-contenedor {
    display: flex;
    flex-flow: row nowrap;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla-de-contenido{
    border: 2px solid grey;
    width: 25%;
    padding: 10px;
}

.imagen-lateral {
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagen-lateral p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

a:link {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color:royalblue;
}

a:hover {
    text-decoration: underline;
}

.imagen-lateral {
    float: right;
    width: 50%;
    overflow: visible;
    font-style: italic;
}

.imagen-lateral img {
    width: 100%;
}

.idioma-seleccionado::before {
    content: "> ";
}

.seccion-lateral>ul>li {
    list-style: none;
}

.menu-principal {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 5px;
}

.menu-idiomas {
    padding-left: 5px;
}
.seccion-lateral {
    margin-right: 17px;
}
.seccion-lateral h1 {
    font-size: 19px;
    font-weight: normal;
}

.flex-contenedor {
    display: flex;
    flex-flow: row nowrap;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabla-de-contenido{
    border: 1px solid grey;
    width: 25%;
    padding: 10px;
}

.imagen-lateral {
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagen-lateral p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

a:link {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color:royalblue;
}

a:hover {
    text-decoration: underline;
}

.imagen-lateral {
    float: right;
    width: 50%;
    overflow: visible;
    font-style: italic;
}

.imagen-lateral img {
    width: 100%;
}

.idioma-seleccionado::before {
    content: "> ";
}

.seccion-lateral>ul>li {
    list-style: none;
}

.menu-principal {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 5px;
}

.menu-idiomas {
    padding-left: 5px;
}
.seccion-lateral {
    margin-right: 17px;
}
.seccion-lateral h1 {
    font-size: 19px;
    font-weight: normal;
}

/*Escritorio*/
@media screen and (min-width: 641px){
    .switch-seccion-lateral, .etiqueta-switch-seccion-lateral { display: none; }
} 

/*Móvil con Menu*/
@media only screen and (max-width : 640px){

    .imagen-lateral{
        width: 100%;
        margin-bottom: 25px;
    }
    .tabla-de-contenido{ width: 45%; }
    .flex-contenedor{
        flex-flow: column nowrap;
        padding: 0 10px;
    }

    .switch-seccion-lateral{ display: none; }

    .switch-seccion-lateral:checked~.menu-idiomas{      /* Sin menú */
        display: none;
    }
    .switch-seccion-lateral:checked~.menu-principal{    /* Sin menú */
        display: none;
    }
    .switch-seccion-lateral:checked~h1{                 /* Sin menú */
        display: none;
    }

    .etiqueta-switch-seccion-lateral{
        float: right;
    }

}
